server:
  servlet:
    context-path: /api
spring:
  jpa:
    hibernate:
      ddl-auto: create
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://115.140.87.3:3306/fancafe?serverTimezone=UTC&characterEncoding=UTF-8
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  main:
    allow-bean-definition-overriding: true

jwt:
    secret: ChoiTeacherFancafeSecurityAuthCertificationSecretKey!!


  ssl:
    key-store: keystore.p12
    key-store-type: PKCS12
    key-store-password: phj@3473
